%h2 Search Results
%h3 Details about #{@movies["title"]}

%ul#details

= form_tag movies_path do  
  %li
    = label :movie,:title,'Movie Title:'
    %span#title= @movies["title"]
    = hidden_field :movie,'title',value: @movies["title"]
  %li
    = label :movie,:rating,'Rating'
    = select :movie,:rating, ['G','PG','PG-13','R','NC-17']
  %li
    Released on:
    = label :movie, :release_date,"Released On"
    =date_select :movie,:release_date,selected: Date.parse(@movies["release_date"])

  
  = submit_tag 'Save to RottenPotatoes',:class => 'btn btn-primary'
  