
<!--  This file is app/views/movies/index.html.erb -->
<%# display title name %>
<h3>Search Results for <%= @title %></h3>
<h4>Add Movie by Results </h4>
<%#  Part 2: Start here... %>

<!-- Display the movie poster -->
    <% if @poster_url.present? %>
      <div class="form-group">
        <img src="<%= @poster_url %>" alt="Movie Poster" class="img-fluid" />
      </div>
    <% end %>

<div class="d-flex justify-content-between align-items-center">
  <%= form_tag movies_path do %>
    <div class="form-group">
      <%= label :movie,:title, "Title : " %>
      <%= text_field :movie,:title,value: @title,class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label :movie,:rating, "Rating : " %>
      <%= text_field :movie,:rating,value: @rating ,class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label :movie, :release_date, 'Released On', class: 'col-form-label' %>
      <%= date_select :movie, :release_date, {selected: @release_date}, class: 'form-control col-2 d-inline' %>
    </div>

    <div class="form-group">
      <%= label :movie,:description, "Description : " %>
      <%= text_area :movie,:description,value: @description,class: 'form-control', rows: 4,cols:100 %>
    </div>

    <%= submit_tag "ADD", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', movies_path, class: 'btn btn-secondary' %>
  <% end %>

</div>
